# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Compiled bytecode artifacts (regenerable from .sol)
*.bin

# Optional
.env
.env.local